<?xml version="1.0"?>
<!--
 * The MIT License (MIT)
 *
 * Copyright (c) 2015 Patryk Makowski
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:

 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.

 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 * @category    MPower
 * @package     MPower_Robots
 * @author      Patryk Makowski <magento@makowski.no>
 * @license     http://opensource.org/licenses/MIT The MIT License (MIT)
-->
<config>
    <modules>
        <MPower_Robots>
            <version>0.1.1</version>
        </MPower_Robots>
    </modules>

    <frontend>
        <routers>
            <mpower_robots>
                <use>standard</use>
                <args>
                    <module>MPower_Robots</module>
                    <frontName>robots.txt</frontName>
                </args>
            </mpower_robots>
        </routers>
    </frontend>

    <default>
        <mpower_robots>
            <robots>
                <content>
User-agent: *
Disallow: /checkout/
Disallow: /catalogsearch/
Disallow: /customer/
                </content>
            </robots>
        </mpower_robots>
    </default>
</config>
